<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.pullock.incentive.core.dao.mapper.TaskMapper">
  <resultMap id="BaseResultMap" type="fun.pullock.incentive.core.dao.model.TaskDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="sequence_weight" jdbcType="INTEGER" property="sequenceWeight" />
    <result column="complete_type" jdbcType="SMALLINT" property="completeType" />
    <result column="after_complete_type" jdbcType="SMALLINT" property="afterCompleteType" />
    <result column="complete_engage_way" jdbcType="SMALLINT" property="completeEngageWay" />
    <result column="events" jdbcType="LONGVARCHAR" property="events" />
    <result column="complete_rule" jdbcType="LONGVARCHAR" property="completeRule" />
    <result column="complete_limit_rule" jdbcType="LONGVARCHAR" property="completeLimitRule" />
    <result column="after_complete_rule" jdbcType="LONGVARCHAR" property="afterCompleteRule" />
    <result column="complete_engage_rule" jdbcType="LONGVARCHAR" property="completeEngageRule" />
    <result column="button_config" jdbcType="LONGVARCHAR" property="buttonConfig" />
    <result column="redirect_link_config" jdbcType="LONGVARCHAR" property="redirectLinkConfig" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, create_time, update_time, status, name, description, type, sequence_weight, complete_type, 
    after_complete_type, complete_engage_way, events, complete_rule, complete_limit_rule, 
    after_complete_rule, complete_engage_rule, button_config, redirect_link_config
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from task
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from task
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="fun.pullock.incentive.core.dao.model.TaskDO">
    insert into task (
      id, create_time, update_time,
      status, name, description, 
      type, sequence_weight, complete_type, 
      after_complete_type, complete_engage_way, 
      events, complete_rule, complete_limit_rule, 
      after_complete_rule, complete_engage_rule, 
      button_config, redirect_link_config
    ) values (
      #{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{status,jdbcType=SMALLINT}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{type,jdbcType=SMALLINT}, #{sequenceWeight,jdbcType=INTEGER}, #{completeType,jdbcType=SMALLINT}, 
      #{afterCompleteType,jdbcType=SMALLINT}, #{completeEngageWay,jdbcType=SMALLINT}, 
      #{events,jdbcType=LONGVARCHAR}, #{completeRule,jdbcType=LONGVARCHAR}, #{completeLimitRule,jdbcType=LONGVARCHAR}, 
      #{afterCompleteRule,jdbcType=LONGVARCHAR}, #{completeEngageRule,jdbcType=LONGVARCHAR}, 
      #{buttonConfig,jdbcType=LONGVARCHAR}, #{redirectLinkConfig,jdbcType=LONGVARCHAR}
    )
  </insert>

  <insert id="insertSelective" parameterType="fun.pullock.incentive.core.dao.model.TaskDO">
    insert into task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="sequenceWeight != null">
        sequence_weight,
      </if>
      <if test="completeType != null">
        complete_type,
      </if>
      <if test="afterCompleteType != null">
        after_complete_type,
      </if>
      <if test="completeEngageWay != null">
        complete_engage_way,
      </if>
      <if test="events != null">
        events,
      </if>
      <if test="completeRule != null">
        complete_rule,
      </if>
      <if test="completeLimitRule != null">
        complete_limit_rule,
      </if>
      <if test="afterCompleteRule != null">
        after_complete_rule,
      </if>
      <if test="completeEngageRule != null">
        complete_engage_rule,
      </if>
      <if test="buttonConfig != null">
        button_config,
      </if>
      <if test="redirectLinkConfig != null">
        redirect_link_config,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=SMALLINT},
      </if>
      <if test="sequenceWeight != null">
        #{sequenceWeight,jdbcType=INTEGER},
      </if>
      <if test="completeType != null">
        #{completeType,jdbcType=SMALLINT},
      </if>
      <if test="afterCompleteType != null">
        #{afterCompleteType,jdbcType=SMALLINT},
      </if>
      <if test="completeEngageWay != null">
        #{completeEngageWay,jdbcType=SMALLINT},
      </if>
      <if test="events != null">
        #{events,jdbcType=LONGVARCHAR},
      </if>
      <if test="completeRule != null">
        #{completeRule,jdbcType=LONGVARCHAR},
      </if>
      <if test="completeLimitRule != null">
        #{completeLimitRule,jdbcType=LONGVARCHAR},
      </if>
      <if test="afterCompleteRule != null">
        #{afterCompleteRule,jdbcType=LONGVARCHAR},
      </if>
      <if test="completeEngageRule != null">
        #{completeEngageRule,jdbcType=LONGVARCHAR},
      </if>
      <if test="buttonConfig != null">
        #{buttonConfig,jdbcType=LONGVARCHAR},
      </if>
      <if test="redirectLinkConfig != null">
        #{redirectLinkConfig,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="fun.pullock.incentive.core.dao.model.TaskDO">
    update task
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=SMALLINT},
      </if>
      <if test="sequenceWeight != null">
        sequence_weight = #{sequenceWeight,jdbcType=INTEGER},
      </if>
      <if test="completeType != null">
        complete_type = #{completeType,jdbcType=SMALLINT},
      </if>
      <if test="afterCompleteType != null">
        after_complete_type = #{afterCompleteType,jdbcType=SMALLINT},
      </if>
      <if test="completeEngageWay != null">
        complete_engage_way = #{completeEngageWay,jdbcType=SMALLINT},
      </if>
      <if test="events != null">
        events = #{events,jdbcType=LONGVARCHAR},
      </if>
      <if test="completeRule != null">
        complete_rule = #{completeRule,jdbcType=LONGVARCHAR},
      </if>
      <if test="completeLimitRule != null">
        complete_limit_rule = #{completeLimitRule,jdbcType=LONGVARCHAR},
      </if>
      <if test="afterCompleteRule != null">
        after_complete_rule = #{afterCompleteRule,jdbcType=LONGVARCHAR},
      </if>
      <if test="completeEngageRule != null">
        complete_engage_rule = #{completeEngageRule,jdbcType=LONGVARCHAR},
      </if>
      <if test="buttonConfig != null">
        button_config = #{buttonConfig,jdbcType=LONGVARCHAR},
      </if>
      <if test="redirectLinkConfig != null">
        redirect_link_config = #{redirectLinkConfig,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="fun.pullock.incentive.core.dao.model.TaskDO">
    update task
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=SMALLINT},
      name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      type = #{type,jdbcType=SMALLINT},
      sequence_weight = #{sequenceWeight,jdbcType=INTEGER},
      complete_type = #{completeType,jdbcType=SMALLINT},
      after_complete_type = #{afterCompleteType,jdbcType=SMALLINT},
      complete_engage_way = #{completeEngageWay,jdbcType=SMALLINT},
      events = #{events,jdbcType=LONGVARCHAR},
      complete_rule = #{completeRule,jdbcType=LONGVARCHAR},
      complete_limit_rule = #{completeLimitRule,jdbcType=LONGVARCHAR},
      after_complete_rule = #{afterCompleteRule,jdbcType=LONGVARCHAR},
      complete_engage_rule = #{completeEngageRule,jdbcType=LONGVARCHAR},
      button_config = #{buttonConfig,jdbcType=LONGVARCHAR},
      redirect_link_config = #{redirectLinkConfig,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>