<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.pullock.incentive.core.dao.mapper.TaskMapper">
  <resultMap id="BaseResultMap" type="fun.pullock.incentive.core.dao.model.TaskDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="event_id" jdbcType="BIGINT" property="eventId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="simple_type" jdbcType="BIT" property="simpleType" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="complete_type" jdbcType="SMALLINT" property="completeType" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="category" jdbcType="SMALLINT" property="category" />
    <result column="valid_period_type" jdbcType="SMALLINT" property="validPeriodType" />
    <result column="valid_time_start" jdbcType="TIMESTAMP" property="validTimeStart" />
    <result column="valid_time_end" jdbcType="TIMESTAMP" property="validTimeEnd" />
    <result column="valid_days" jdbcType="BIGINT" property="validDays" />
    <result column="rule_type" jdbcType="SMALLINT" property="ruleType" />
    <result column="period_type" jdbcType="SMALLINT" property="periodType" />
    <result column="period_unit" jdbcType="SMALLINT" property="periodUnit" />
    <result column="period_interval" jdbcType="BIGINT" property="periodInterval" />
    <result column="period_times" jdbcType="BIGINT" property="periodTimes" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="url_target_type" jdbcType="SMALLINT" property="urlTargetType" />
    <result column="reward_type" jdbcType="INTEGER" property="rewardType" />
    <result column="reward_number" jdbcType="BIGINT" property="rewardNumber" />
    <result column="reward_provide_mode" jdbcType="SMALLINT" property="rewardProvideMode" />
    <result column="goal" jdbcType="BIGINT" property="goal" />
    <result column="extra_reward_number" jdbcType="BIGINT" property="extraRewardNumber" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_time, update_time, creator_id, modifier_id, deleted, version, code, event_id, 
    name, description, simple_type, type, complete_type, parent_id, status, category, 
    valid_period_type, valid_time_start, valid_time_end, valid_days, rule_type, period_type, 
    period_unit, period_interval, period_times, url, url_target_type, reward_type, reward_number, 
    reward_provide_mode, goal, extra_reward_number
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from task
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from task
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="fun.pullock.incentive.core.dao.model.TaskDO">
    insert into task (id, create_time, update_time, 
      creator_id, modifier_id, deleted, 
      version, code, event_id, 
      name, description, simple_type, 
      type, complete_type, parent_id, 
      status, category, valid_period_type, 
      valid_time_start, valid_time_end, valid_days, 
      rule_type, period_type, period_unit, 
      period_interval, period_times, url, 
      url_target_type, reward_type, reward_number, 
      reward_provide_mode, goal, extra_reward_number
      )
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{creatorId,jdbcType=BIGINT}, #{modifierId,jdbcType=BIGINT}, #{deleted,jdbcType=BIT}, 
      #{version,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{eventId,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{simpleType,jdbcType=BIT}, 
      #{type,jdbcType=SMALLINT}, #{completeType,jdbcType=SMALLINT}, #{parentId,jdbcType=BIGINT}, 
      #{status,jdbcType=SMALLINT}, #{category,jdbcType=SMALLINT}, #{validPeriodType,jdbcType=SMALLINT}, 
      #{validTimeStart,jdbcType=TIMESTAMP}, #{validTimeEnd,jdbcType=TIMESTAMP}, #{validDays,jdbcType=BIGINT}, 
      #{ruleType,jdbcType=SMALLINT}, #{periodType,jdbcType=SMALLINT}, #{periodUnit,jdbcType=SMALLINT}, 
      #{periodInterval,jdbcType=BIGINT}, #{periodTimes,jdbcType=BIGINT}, #{url,jdbcType=VARCHAR}, 
      #{urlTargetType,jdbcType=SMALLINT}, #{rewardType,jdbcType=INTEGER}, #{rewardNumber,jdbcType=BIGINT}, 
      #{rewardProvideMode,jdbcType=SMALLINT}, #{goal,jdbcType=BIGINT}, #{extraRewardNumber,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="fun.pullock.incentive.core.dao.model.TaskDO">
    insert into task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="modifierId != null">
        modifier_id,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="eventId != null">
        event_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="simpleType != null">
        simple_type,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="completeType != null">
        complete_type,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="validPeriodType != null">
        valid_period_type,
      </if>
      <if test="validTimeStart != null">
        valid_time_start,
      </if>
      <if test="validTimeEnd != null">
        valid_time_end,
      </if>
      <if test="validDays != null">
        valid_days,
      </if>
      <if test="ruleType != null">
        rule_type,
      </if>
      <if test="periodType != null">
        period_type,
      </if>
      <if test="periodUnit != null">
        period_unit,
      </if>
      <if test="periodInterval != null">
        period_interval,
      </if>
      <if test="periodTimes != null">
        period_times,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="urlTargetType != null">
        url_target_type,
      </if>
      <if test="rewardType != null">
        reward_type,
      </if>
      <if test="rewardNumber != null">
        reward_number,
      </if>
      <if test="rewardProvideMode != null">
        reward_provide_mode,
      </if>
      <if test="goal != null">
        goal,
      </if>
      <if test="extraRewardNumber != null">
        extra_reward_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="modifierId != null">
        #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="version != null">
        #{version,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="eventId != null">
        #{eventId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="simpleType != null">
        #{simpleType,jdbcType=BIT},
      </if>
      <if test="type != null">
        #{type,jdbcType=SMALLINT},
      </if>
      <if test="completeType != null">
        #{completeType,jdbcType=SMALLINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="category != null">
        #{category,jdbcType=SMALLINT},
      </if>
      <if test="validPeriodType != null">
        #{validPeriodType,jdbcType=SMALLINT},
      </if>
      <if test="validTimeStart != null">
        #{validTimeStart,jdbcType=TIMESTAMP},
      </if>
      <if test="validTimeEnd != null">
        #{validTimeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="validDays != null">
        #{validDays,jdbcType=BIGINT},
      </if>
      <if test="ruleType != null">
        #{ruleType,jdbcType=SMALLINT},
      </if>
      <if test="periodType != null">
        #{periodType,jdbcType=SMALLINT},
      </if>
      <if test="periodUnit != null">
        #{periodUnit,jdbcType=SMALLINT},
      </if>
      <if test="periodInterval != null">
        #{periodInterval,jdbcType=BIGINT},
      </if>
      <if test="periodTimes != null">
        #{periodTimes,jdbcType=BIGINT},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="urlTargetType != null">
        #{urlTargetType,jdbcType=SMALLINT},
      </if>
      <if test="rewardType != null">
        #{rewardType,jdbcType=INTEGER},
      </if>
      <if test="rewardNumber != null">
        #{rewardNumber,jdbcType=BIGINT},
      </if>
      <if test="rewardProvideMode != null">
        #{rewardProvideMode,jdbcType=SMALLINT},
      </if>
      <if test="goal != null">
        #{goal,jdbcType=BIGINT},
      </if>
      <if test="extraRewardNumber != null">
        #{extraRewardNumber,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="fun.pullock.incentive.core.dao.model.TaskDO">
    update task
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="eventId != null">
        event_id = #{eventId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="simpleType != null">
        simple_type = #{simpleType,jdbcType=BIT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=SMALLINT},
      </if>
      <if test="completeType != null">
        complete_type = #{completeType,jdbcType=SMALLINT},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=SMALLINT},
      </if>
      <if test="validPeriodType != null">
        valid_period_type = #{validPeriodType,jdbcType=SMALLINT},
      </if>
      <if test="validTimeStart != null">
        valid_time_start = #{validTimeStart,jdbcType=TIMESTAMP},
      </if>
      <if test="validTimeEnd != null">
        valid_time_end = #{validTimeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="validDays != null">
        valid_days = #{validDays,jdbcType=BIGINT},
      </if>
      <if test="ruleType != null">
        rule_type = #{ruleType,jdbcType=SMALLINT},
      </if>
      <if test="periodType != null">
        period_type = #{periodType,jdbcType=SMALLINT},
      </if>
      <if test="periodUnit != null">
        period_unit = #{periodUnit,jdbcType=SMALLINT},
      </if>
      <if test="periodInterval != null">
        period_interval = #{periodInterval,jdbcType=BIGINT},
      </if>
      <if test="periodTimes != null">
        period_times = #{periodTimes,jdbcType=BIGINT},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="urlTargetType != null">
        url_target_type = #{urlTargetType,jdbcType=SMALLINT},
      </if>
      <if test="rewardType != null">
        reward_type = #{rewardType,jdbcType=INTEGER},
      </if>
      <if test="rewardNumber != null">
        reward_number = #{rewardNumber,jdbcType=BIGINT},
      </if>
      <if test="rewardProvideMode != null">
        reward_provide_mode = #{rewardProvideMode,jdbcType=SMALLINT},
      </if>
      <if test="goal != null">
        goal = #{goal,jdbcType=BIGINT},
      </if>
      <if test="extraRewardNumber != null">
        extra_reward_number = #{extraRewardNumber,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="fun.pullock.incentive.core.dao.model.TaskDO">
    update task
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creator_id = #{creatorId,jdbcType=BIGINT},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      deleted = #{deleted,jdbcType=BIT},
      version = #{version,jdbcType=BIGINT},
      code = #{code,jdbcType=VARCHAR},
      event_id = #{eventId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      simple_type = #{simpleType,jdbcType=BIT},
      type = #{type,jdbcType=SMALLINT},
      complete_type = #{completeType,jdbcType=SMALLINT},
      parent_id = #{parentId,jdbcType=BIGINT},
      status = #{status,jdbcType=SMALLINT},
      category = #{category,jdbcType=SMALLINT},
      valid_period_type = #{validPeriodType,jdbcType=SMALLINT},
      valid_time_start = #{validTimeStart,jdbcType=TIMESTAMP},
      valid_time_end = #{validTimeEnd,jdbcType=TIMESTAMP},
      valid_days = #{validDays,jdbcType=BIGINT},
      rule_type = #{ruleType,jdbcType=SMALLINT},
      period_type = #{periodType,jdbcType=SMALLINT},
      period_unit = #{periodUnit,jdbcType=SMALLINT},
      period_interval = #{periodInterval,jdbcType=BIGINT},
      period_times = #{periodTimes,jdbcType=BIGINT},
      url = #{url,jdbcType=VARCHAR},
      url_target_type = #{urlTargetType,jdbcType=SMALLINT},
      reward_type = #{rewardType,jdbcType=INTEGER},
      reward_number = #{rewardNumber,jdbcType=BIGINT},
      reward_provide_mode = #{rewardProvideMode,jdbcType=SMALLINT},
      goal = #{goal,jdbcType=BIGINT},
      extra_reward_number = #{extraRewardNumber,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByEventId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from task
    where event_id = #{eventId,jdbcType=BIGINT}
  </select>
</mapper>